*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  background: linear-gradient(right top,#FF5196,#F87062);
}
/*展示页*/

.home img{
  width: 114px;
  display: block;
  margin: 0 auto;
  padding: 11.78vh 0 6vh 0;
}
.home h1,.home h5{
  color: white;
  line-height: 16.88vh; /*38+38+30*/
  text-align: center;
}
.home h5{
  font-size: 18px;
  line-height: 8.12vh;  /*51px*/
  font-weight: normal;
}
.home .home_bottom{
  width: 100vw;
  margin: 16vh 0;
  display: flex;
  justify-content: space-around;
}
.home .home_bottom a{
  width: 41%;
  height: 60px;
  background: white;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  line-height: 60px;
  color: #F67361;
  border-radius: 3px; 
}
/*头部*/
header{
  margin: 14px;
}
/*login*/
.login{
  padding: 20px;
}
.login h1{
  color: white;
  font-size: 36px;
  margin-top: 12vh;
  text-align: center;
  font-weight: normal;
}
.login h5{
  color: white;
  font-size: 18px;
  line-height: 40px;
  font-weight: normal;
  text-align: center;
}
.login .login_form{
  width: 80vw;
  margin: 0 auto;
  margin-top: 10vh;
}
.login .login_form input{
  border: 0;
  width: 80vw;
  background: white;
  line-height: 64px;
  padding-left: 10px;
}
.login .login_form input[type=submit]{
  width: 82.8vw;
  padding: 0;
  color: #F67361;
  font-size: 16px;
  margin-top: 15vh;
  line-height: 60px;
  border-radius: 5px;
}
.login .login_a{
  width: 30vw;
  color: white;
  display: block;
  font-size: 12px;
  margin: 0 auto;
  margin-top: 26px;
  text-decoration: none;
}
/*sign*/
.sign{
  padding: 20px;
}
.sign h1{
  color: white;
  font-size: 36px;
  margin-top: 10vh;
  text-align: center;
  font-weight: normal;
}
.sign h5{
  color: white;
  font-size: 18px;
  line-height: 40px;
  font-weight: normal;
  text-align: center;
}
.sign .sign_form{
  width: 80vw;
  margin: 0 auto;
  margin-top: 10vh;
}
.sign .sign_form input{
  border: 0;
  width: 80vw;
  background: white;
  line-height: 58px;
  padding-left: 10px;  
}
.sign .sign_form input[type=submit]{
  width: 82.8vw;
  padding: 0;
  color: #F67361;
  font-size: 16px;
  margin-top: 2vh;
  line-height: 60px;
  border-radius: 5px;
}
.sign .sign_a{
  width: 30vw;
  color: white;
  display: block;
  font-size: 12px;
  margin: 0 auto;
  margin-top: 26px;
  text-decoration: none;
}